* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, sans-serif;
}

body {
    padding-top: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    padding: 1rem;
    margin-bottom: 2rem;
}

.navbar i {
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #eee;
    transition: background-color 0.3s;
}

.navbar i:hover {
    background-color: #aaa;
}

.navbar span {
    margin-left: 1rem;
}

.users {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.user {
    border: 1px solid #333;
    flex-basis: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-info span {
    display: block;
}

.user-info .email, .user-info .role {
    margin-top: 1rem;
}

.admin-tool {
    text-align: right;
}

.admin-tool a {
    text-decoration: none;
    margin-right: 0.5rem;
}

.admin-tool a:hover {
    text-decoration: underline;
}

.admin-tool.remove {
    margin-top: 1rem;
}

/* .admin-tool {
    margin-top: 1rem;
} */